<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<title>The Burger Devourer Machine</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
  		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    	crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
  		<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />
	</head>
	<body>
	<!-- Navbar -->
	<div class="header"><img src="/assets/img/burgericon.webp" width="200" height="200"><h1>The Burger Devourer Machine</h1></div>

	<div class="container">
		<div class="row">
			<div class="input-group mb-3">
  				<div class="input-group-prepend">
    				<button class="btn btn-outline-secondary" type="button" id="submitBurger">Submit</button>
  				</div>
  				<input type="text" id="BurgerInput" placeholder="Enter Burger Name" maxlength="20">
			</div>
		</div>
		<div class="row">
			{{{ body }}}
		</div>
	</div>

	<!-- Footer -->
	<div class="footer">
    <p>
      <a class="copyright">&copy; 2020 Vincent McGargill</a> 
    </p>
    <p>
    Email: <a class="email" id="email" href="mailto:vincentmcgargill@gmail.com">vincentmcgargill@gmail.com</a>
    </p>
    <p>
      <a href="https://github.com/vmcgargill" class="github" target="_blank">GitHub</a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/vincent-mcgargill-b6244660/" class="linkedin" target="_blank">LinkedIn</a>
    </p>
    <p>
      <a href="https://vmcgargill.github.io/portfolio/" class="portfolio" target="_blank">GitHub Portfolio</a>
    </p>
  	</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/index.js"></script>
</html>