<div class="col">
<ul>
<h1>Created</h1>
{{#each created }}
  <li class='list-group-item'>{{burger_name}} <button class="btn devourBTN" value="{{id}}">Devour</button></li>
{{/each}}
</ul>
</div>

<div class="col">
<ul>
  <h1>Devoured</h1>
{{#each devoured }}
  <li class='list-group-item'>{{burger_name}}<button class="btn deleteBTN" value="{{id}}">Delete</button></i></li>
{{/each}}
</ul>
</div>
